@model RentOrder



<form method="post" enctype="multipart/form-data">
    
    <div class="row">
        <div class="col-10">
            <div class=" border p-3 mt-5">
                <div class=" row pb-3">
                    <h2 class="text-primary">Your Orders</h2>
                    </hr>
                </div>
                <div class="mb-3">
                    <label asp-for="StudentNo" class="p-0"></label>
                    <input asp-for="StudentNo" class="form-control" />
                    <span asp-validation-for="StudentNo" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BookId" class="p-0"></label>
                    <select asp-for="BookId" asp-items="ViewBag.BookList" class="form-control">
                    </select>
                    <span asp-validation-for="BookId" class="text-danger"></span>
                </div>

              
                <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Save</button>
                <a asp-controller="RentOrder" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">
                    Back to Orders
                </a>

            </div>
        </div>
        
    </div>



  

</form>

@*  @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    
    } 
} *@
