
@{
    ViewData["Title"] = "Home Page";
}




<div class="text-center">
    <h1 class="display-4"> <strong>Altay's Library Application</strong></h1>
    <br></br>
    
    <p><img src="/img/book.png"</p>
</div>
